body {
    height: 96vh;
    background-color: rgb(71, 109, 224);
}

header {
    text-align: center;
    color: white;
}

main {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: black solid 1px;
    width: 600px;
    margin: auto;
}