body {
    background-color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
}

main {
    background-color: white;
    height: fit-content;
    width: 500px;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.429);
}

