body {
    color: white;
    font-family: sans-serif;
    background-image: url('pexels-pixabay-268533.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    text-align: center;
    font-size: 1.4em;
}

main {
    color: black;
    background-color: rgba(255, 255, 255, 0.571);
    height: fit-content;
    max-width: 500px;
    min-width: 200px;
    margin: auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;    
}

section#res {
    display: none;
    text-align: center;
}

select {
    width: 300px;
}

#button {
    border: 1px solid black;
    border-radius: 10px;
}

#txtnum:hover {
    background-color: rgb(180, 180, 180);
}

#txtnum:focus {
    background-color: rgb(180, 180, 180);

}

#button:hover {
    background-color: rgb(180, 180, 180);
}